services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: CaseCHomepage
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: castle123
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
    ports:
      - "5433:5432"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
